@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Roboto:wght@100;300;900&display=swap');

@font-face {
    font-family: astro;
    src: url(/conthrax-sb.otf);
}
*{
    padding: 0;
    margin: 0;
    font-family: astro;
}
.cc{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
a{
    text-decoration: none;
    /* color: rgb(0, 0, 0); */
    color:#004550; 
}
.nav{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    height: 90px;
    position:fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 5;
    font-size: 1vw;
    /* color:#000000; */
    color:#004550; 
    /* text-shadow: 0 0 10px rgb(255, 255, 255); */
    /* box-shadow: 0px 0px 13px -2px rgb(255, 255, 255); */
}
.nav a{
    /* padding-top: 3.5vh; */
    padding-block:20px;
}
.navlogo{
    grid-column: 1/3;
    font-size: 2vw;
    margin-left: 90px;
}
.navlogo img{
    padding-inline: 10px;
}
.home{
    grid-column: 10/11;
}
.about{
    grid-column: 11/12;
}
.sign{
    grid-column: 12/13;
}
.ni{
    width: 10vw;
}
.ni a:hover{
    filter:opacity(0.6);
}

.carousel{
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    /* background-image: url(/images/26174.webp); */
    /* background-color: rgb(0, 0, 0); */
    opacity: 0.99;
    /* text-shadow: 0 0 7px rgb(10, 10, 57); */
}
.ct{
    position: absolute;
    top:36vh;
    left: 20vw;
}
.clogo{
    position: absolute;
    top: 29vh;
    left:1vw;
}
.clogo img{
    width: 18vw;
}


.carouselfs{
    font-weight: 100;
    font-size: 9vw;
    /* color: #ffffff; */
    font-family: astro;
    /* text-shadow: 0 0 9px rgb(0, 0, 0); */
}
.carouseltag{
    font-size: 3vw;
    font-weight: 100;
    /* color: #ffffff;
    text-shadow: 0 0 5px rgb(0, 0, 0); */
}
.cdark{
    background-image: url(/images/dark.png);
    background-repeat: no-repeat;
    position:absolute;
    width: 100%;
    height: 100vh;
    background-size: 39vw 60vh;
    background-position: 77vw 0vh;
    animation-name: upd;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    z-index: -3;
}
.cdark:hover{
    filter: drop-shadow(0 0 10px white);
}

.cmiddle1{
    background-image: url(/images/middle.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-size: 16vw 30vh;
    background-position: 67vw 10vh;
    animation-name: upm1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    z-index: -2;
}
.cmiddle2{
    background-image: url(/images/middle.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-size: 22vw 40vh;
    background-position: 70vw 50vh;
    animation-name: upm2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
    z-index: -2;
}
.clight{
    background-image: url(/images/light.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 3;
    background-size: 12vw 20vh;
    background-position: 64vw 50vh;
    animation-name: upl;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    z-index: -1;
}
.cdarknew{
    background-image: url(/images/darknew.png);
    background-repeat: no-repeat;
    position: absolute;
    z-index: -4;
    background-size: 50vw 75vh;
    background-position: -19vw 15vh;
    width: 100%;
    height: 100vh;
    animation-name: updn;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
.clightnew{
    background-image: url(/images/light.png);
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    background-size: 12vw 20vh;
    background-position: 20vw 7vh;
    width: 100%;
    height: 100vh;
    animation-name: upln;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.service{
    width: 100%;
    background-color:#004550;
    height: 92vh;
    color: rgb(255, 255, 255);
    font-size: 3vw;
    background-size: 100vw 80vh;
    /* text-shadow: 0 0 7px rgb(10, 10, 57); */
}
.servicehead{
    padding-top: 12vh;
}
.sercontainer{
    width: 100%;
}
.servicet{
    text-align: center;
    font-size: 1.4vw;
    padding-block: 7vh;
    color: white;
}

.card{
    width: 15vw;
    padding-top: 8vh;
    margin-block: 5vh;
    padding-inline: 5vw;
    z-index: 1;
}
.card:hover{
    /* filter: drop-shadow(0 0 100px rgb(255, 255, 255)); */
    background-color: rgb(255, 255, 255,0.03);
    border-radius: 40px;
}


.servicet:hover{
     /* text-shadow: 0 0 4px rgb(255, 255, 255); */
     opacity: 0.7;
}
.smiddle{
    background-image: url(/images/middle.png);
    position: absolute;
    background-size: 22vw 40vh;
    background-position: -10vw 7vh;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    animation-name: sm;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
.slight{
    background-image: url(/images/light.png);
    position: absolute;
    background-size: 12vw 20vh;
    background-position: 6vw 2vh;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    animation-name: sl;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
.smiddle1{
    background-image: url(/images/middle.png);
    position: absolute;
    background-size: 22vw 40vh;
    background-position: 85vw 41vh;
    width: 100%;
    height: 92vh;
    background-repeat: no-repeat;
    animation-name: sm1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.slight2{
    background-image: url(/images/light.png);
    position: absolute;
    background-size: 12vw 20vh;
    background-position: 85vw 70vh;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    animation-name: sl2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.footer{
    padding-top: 7vh;
    height:30vh;
    display: flex;
    justify-content:space-evenly
}
.flogo{
    font-size: 3.4vw;
    margin-bottom: 3vh;
}
.flogo img{
    position: absolute;
    left:8.5vw;
}
.links{
    margin-inline: 0.5vw;
    opacity: 0.7;
}
.links:hover{
    opacity: 1;
}
.ftitle{
    font-size: 1.7vw;
    opacity: 0.7;
    margin-bottom: 2vh;
}
.fcon p{
    cursor: pointer;
    opacity: 0.5;
    padding-block: 0.5vw;
}
.fcon p:hover{
    opacity: 1;
}



@keyframes slide{
    from{background-position: 0 0;}
    to{background-position: 100vw 0;}
}
@keyframes upm1{
    from{background-position: 67vw 10vh;}
    to{background-position: 67vw 15vh;}
}
@keyframes upm2{
    from{background-position: 70vw 50vh;}
    to{background-position: 70vw 57vh;}
}
@keyframes upd{
    from{background-position: 77vw 0vh;}
    to{background-position: 77vw 4vh;}
}
@keyframes upl{
    from{background-position: 64vw 50vh;}
    to{background-position: 64vw 56vh;}
}
@keyframes updn{
    from{ background-position: -19vw 15vh;}
    to{ background-position: -19vw 19vh;}
}
@keyframes upln{
    from{background-position: 17vw 7vh;}
    to{ background-position: 17vw 12vh;}
}



@keyframes sm{
    from{background-position:  -10vw 7vh;}
    to{background-position: -10vw 12vh;}
}
@keyframes sm1{
    from{background-position: 85vw 39vh;}
    to{background-position: 85vw 45vh;}
}
@keyframes sl{
    from{background-position: 6vw 2vh;}
    to{background-position: 6vw 8vh;}
}
@keyframes sl2{
    from{ background-position: 85vw 70vh;}
    to{background-position: 85vw 63vh;}
}

@media screen and (max-width: 900px) {
   .service{
    background-color: aqua;
   }
}
    
