<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyHelp</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="nav">
        <a href="/templates/index.html"><div class="navlogo ni cc"><img src="/images/logo.png" alt="" width="50px">StudyHelp</div></a>
        <div class="home cc ni"><a href="#"> Home</div></a>
        <div class="about cc ni"><a href="#"> About us</div></a>
        <div class="sign cc ni"><a href="/templates/reg.html">Sign up</div></a>
    </div>
    <div class="carousel ">
        <div class="cdark"></div>
        <div class="clight"></div>
        <div class="cmiddle1"></div>
        <div class="cmiddle2"></div>
        <div class="clogo"><img src="/images/logo.png" alt=""></div>
        <div class="ct">
            <div class="carouselfs">StudyHelp</div>
            <div class="carouseltag">Keeps you on track</div>
        </div>
    </div>
    <div class="service">
        <div class="smiddle"></div>
        <div class="slight"></div>
        <div class="smiddle1"></div>
        <div class="slight2"></div>
        <div class="servicehead cc">Our Services</div>
        <div class="sercontainer cc">
            <div class="pyd card ">
                <a href="/templates/pyd.html"><div class="pydimg cc"><img src="/images/pydimg.png" alt="" width="190vw"></div>
                <div class="pydt servicet cc">Play Your Day</div></a>
            </div>
            <div class="cp card">
                <a href="/templates/cp.html"><div class="cpimg cc"><img src="/images/cpimg.png" alt="" width="190vw"></div>
                <div class="cpt servicet cc ">Course Personalization</div></a>
            </div>
            <a href="/templates/focus.html"><div class="focus card">
                <div class="focusimg cc"><img src="/images/focusimg.png" alt="" width="190vw"></div>
                <div class="focust servicet cc">Focus Mode</div></a>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="col1">
            <div class="flogo"><img src="/images/logo.png" alt="" width="60vw">StudyHelp</div>
            <span class="face links"><img src="/images/facebook.png" alt="" width="60vw"></span>
            <span class="twit links"><img src="/images/twitter.png" alt="" width="50vw"></span>
            <span class="git links"><img src="/images/github.png" alt="" width="50vw"></span>
            <span class="in links"><img src="/images/linkedin.png" alt="" width="50vw"></span>

        </div>
        <div class="col2">
            <div class="abouthead ftitle">About</div>
            <div class="aboutcon fcon">
                <p>Company</p>
                <p>Team</p>
                <p>Technologies</p>
            </div>
        </div>
        <div class="col3">
            <div class="joinhead ftitle">Join us</div>
            <div class="joincon fcon">
                <p>Front-End</p>
                <p>Back-End</p>
                <p>Machine Learning</p>
            </div>
        </div>
    </div>
</body>
</html>